@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";

@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/forms/form-range";

#plBox {
    display: block;
    position: fixed;

    bottom: 0px;
    right: -450px;

    width: 450px;
    height: calc(100vh - 56px);

    z-index: 2000;
    cursor: pointer;
    overflow-y: scroll;

    font-family: Meiryo;
    color: white;
    background: rgb(24, 24, 24);
    color-scheme: only dark;

    border-left: 1px solid rgba(255, 255, 255, 0.1);

    transition: all 1s ease 0s;

    #plTitle {
        position: fixed;
        right: 0px;
        bottom: 0px;
        padding: 8px;

        color: lightgrey;
        background: rgb(32, 32, 32);

        writing-mode: vertical-lr;
        font-weight: unset;
        font-size: 18px;

        margin: 0px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        border-left: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px 0 0;

        transition: all 1s ease 0s;
    }

    ul {
        padding: 0px;
        margin: 0px;

        background: transparent;

        border: 0px;
    }

    li {
        font-size: 20px;

        margin: 6px;
        margin-left: 36px;
        padding: 6px;
        padding-left: 2px;

        /* Not function in chrome */
        list-style-type: disclosure-closed;

        border-radius: 5px;
    }
}

#plContent>li {
    position: relative;

    &:first-child {
        border-bottom: .1em solid rgb(170, 170, 170);
        border-radius: 0;

        padding: 0;
        margin: 12px;

        overflow: hidden;
        white-space: nowrap;

        font-size: 25px;
        font-weight: bold;
        text-align: center;
        text-overflow: ellipsis;

        list-style-type: none;

        .singer {
            display: none;
        }
    }

    &:hover {
        filter: brightness(1.5);
        background: rgb(255 255 255 / 7%);
    }

    span.singer {
        position: absolute;
        z-index: -1;

        right: 0px;
        bottom: 0px;
        margin: 0 6px 6px 0;

        font-size: 0.8em;

        color: #666;
        text-align: right;
        border-bottom: 1px solid;
    }
}

#plOption {
    position: fixed;
    bottom: -210px;
    height: 200px;
    width: -webkit-fill-available;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

    cursor: default;

    padding: 5px 20px;
    margin-right: 17px;

    text-align: center;
    background: #222222DD;

    border-top: 1px solid rgba(255, 255, 255, 0.1);

    transition: all 1s ease 0s;

    #plOpenOption {
        position: absolute;

        top: -20px;
        left: 50%;
        width: 100px;
        height: 19px;
        transform: translateX(-50%);

        cursor: pointer;

        margin: 0;
        background: #222222DD;

        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px 10px 0 0;
        border-bottom: none;

        text-align: center;
        font-size: unset;
        font-weight: unset;

        svg {
            width: 20px;
            height: 20px;
            fill: lightgray;
        }
    }

    input {
        width: 80%;
        margin: 10px;
    }

    hr {
        width: 60%;
        height: 1px;
        margin: 10px auto;
        background: darkgray;
    }

    div {
        margin-top: 4px;
        margin-bottom: -3px;
        font-size: medium;
        font-weight: bold;
    }

    #buttonContainer {
        display: flex;
        width: 100%;

        a {
            flex: 1 1 0px;

            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            margin: 5px;
            padding: 2px;

            text-decoration: none;
            color: lightgray;
            background: rgb(255 255 255 / 9%);

            border: 0;
            border-radius: 5px;

            &:hover {
                filter: brightness(1.5);
                background: rgb(255 255 255 / 23%)
            }

            svg {
                width: 1em;
                height: 1em;
                padding-right: 5px;
                fill: lightgray;
            }
        }
    }

}

#lyricHelper {
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 20000;
    width: 700px;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;

    background: rgba(39, 39, 39);

    color: white;
    color-scheme: only dark;
    @include font-size(2rem);

    output {
        text-align: center;
        padding: 0;
    }

    .btn {
        width: 100%;
        @include font-size(2rem !important);
    }
}

.btn {
    background: rgba(255, 255, 255, 0.1);
}